<% @last_bills = query do %>
  select
    replace(account, 'Expenses:', '') as "Account",
    xtn_date as "Last Paid",
    amount as "Amount"
  from
    ledger
  where
    (account, xtn_date) in (
      select
        account,
        max(xtn_date) as xtn_date
      from
        ledger
      where
        account ~ 'Expenses:(Utils|Cable|Rent)'
        and account != 'Expenses:Utils:Water'
        and xtn_date <= :to
      group by
        account
    )
    and amount > 0
  order by
    account
<% end %>

<% @current_accounts = query do %>
 with current_accounts as (select
     account,
     bank as bank,
     virtual as real,
     uncleared as uncleared
 from (
 select
     account,
     sum(amount) as virtual,
     sum(case when cleared and not virtual then amount else 0 end) as bank,
     sum(case when not cleared then amount else 0 end) as uncleared
 from
     ledger
 where
     account in ('Assets:Schwab:Checking', 'Liabilities:Amex', 'Liabilities:Chase:SP')
     and xtn_date <= :to
 group by
     account
 ) x
 order by
     account
 )
 select
     account as "Account",
     bank as "Bank",
     real as "Real",
     uncleared as "Uncleared"
 from current_accounts
 union all
 select
     'Total' as "Account",
     sum(bank) as "Bank",
     sum(real) as "Real",
     sum(uncleared) as "Uncleared"
 from current_accounts    
<% end %>

<% @emergency_fund_target = ENV['EMERGENCY_FUND_TARGET'] || 3 %>
<% @emergency_fund = query do %>
 select
     emergency_fund as "Emergency Fund",
     expenses as "Trailing 12 Month Expenses",
     emergency_fund / expenses as "Months",
     case when emergency_fund / expenses > <%= @emergency_fund_target %> then 0 else (<%= @emergency_fund_target %> - (emergency_fund / expenses)) * expenses end as "Needed"
 from (
     select
         xtn_month,
         max(emergency_fund) as emergency_fund
     from (
         select
             xtn_month,
             last_value(emergency_fund) over (partition by xtn_month) as emergency_fund
         from (
             select
                 xtn_month,
                 sum(amount) over (rows unbounded preceding) as emergency_fund
             from
                 ledger
             where
                 account = 'Assets:Funds:Emergency'
             order by
                 xtn_month
         ) x
     ) x
     group by
         xtn_month
     order by
         xtn_month
 ) em
 inner join (
     select
         xtn_month,
         avg(amount) over (rows 12 preceding) as expenses
     from (
         select
             xtn_month,
             sum(amount) as amount
         from
             ledger
         where
             account ~ '^Expenses'
             and account !~ 'Depreciation'
             and account !~ 'Taxes'
             and account !~ 'Interest'
             and account !~ 'Insurance'
             and account !~ 'Travel'
             and account !~ 'Computers'
             and account !~ 'Medical'
             and not virtual
             and tags !~ 'Emergency'
         group by
             xtn_month
         order by
             xtn_month
     ) x
     order by
         xtn_month
 ) ex using (xtn_month)
 order by xtn_month desc limit 1
<% end %>

<% @fund_levels = query do %>
 select
     replace(account, 'Assets:Funds:', '') as "Account",
     sum(amount) as "Balance"
 from
     ledger
 where
     account ~ 'Assets:Funds'
     and account !~ 'Assets:Funds:Emergency'
 group by
     account
 having
     sum(amount) != 0
 order by
     account
<% end %>

<% @uncleared = query do %>
 select
     xtn_date as "Date",
     note as "Payee",
     account as "Account",
     amount as "Amount"
 from
     ledger
 where
     not cleared
     and xtn_date <= :to
     and account in ('Assets:Schwab:Checking', 'Liabilities:Amex', 'Liabilities:Chase:SP')
 order by
     xtn_date,
     account,
     note
<% end %>

<% @last_updated_report = query do %>
select
    max(updated_at at time zone 'UTC')
from
    update_history
<% end %>
<%
def relative_time(start_time)
  diff_seconds = Time.now.utc - start_time.utc
  case diff_seconds
  when 0 .. 59
    return"#{diff_seconds.to_i} seconds ago"
  when 60 .. (3600-1)
    return "#{(diff_seconds/60).to_i} minutes ago"
  when 3600 .. (3600*24-1)
    return "#{(diff_seconds/3600).to_i} hours ago"
  when (3600*24) .. (3600*24*30) 
    return "#{(diff_seconds/(3600*24)).to_i} days ago"
  else
    return start_time.strftime("%m/%d/%Y")
  end
end
@last_updated = relative_time(@last_updated_report.rows[0][0].value)
%>
<% @budget = BudgetSummaryReport.run %>
<% @budget_remaining = (@budget.rows[0][3].value || 0) %>
<% @budget_color = @budget_remaining > 0 ? 'green' : 'red' %>
<% @unbudgeted_remaining = [@current_accounts.rows[-1][2].value - @budget_remaining.abs, 0].max%>
<% @unbudgeted_color = @unbudgeted_remaining > 0 ? 'green' : 'red' %>
<%
  payday_bench = Date.parse(ENV['LEDGER_PAYDAY_BENCHMARK'])
  @next_payday = payday_bench + (((Date.today() - payday_bench).to_f / 14.0).ceil * 14)
  @days_til_next_payday = (@next_payday - Date.today()).to_f.ceil
%>
<% @goals = query do %>
select
    goal as "Goal",
    goal_amount as "Goal Amount",
    spent_amount as "Spent",
    goal_amount - spent_amount as "Left"
from (
    select
        'Food' as goal,
        (select sum(amount) / 4 from budget_months where account ~* 'Expenses:Food:(Breakfast|Lunch|Dinner)' and xtn_month = (select max(xtn_month) from budget_months)) as goal_amount,
        (select sum(amount) from expenses where account ~* 'Expenses:Food:(Breakfast|Lunch|Dinner)' and date_trunc('week', xtn_date) = (select max(date_trunc('week', xtn_date)) from expenses)) as spent_amount
    union all
    select
        'Liabilities:Chase:SP' as goal,
        3000 as goal_amount,
        abs(coalesce((select sum(amount) from ledger where account ~ 'Liabilities:Chase:SP' and amount < 0),0)) as spent_amount
    ) x
<% end %>

<div class="page-header">
  <h1>Dashboard <small>Updated <%= @last_updated %> (<a href="/reports/budget_detail">B</a>: <span style="color: <%= @budget_color %>"><%= sprintf("$%0.2f", @budget_remaining) %></span> U: <span style="color: <%= @unbudgeted_color %>"><%= sprintf("$%0.2f", @unbudgeted_remaining) %></span>) Payday: <%= @next_payday.strftime %> (<%= @days_til_next_payday %> days)</small></h1>
</div>
<div class="row">
  <div class="span6">
    <h3><a href="/reports/bills">Last Bills</a></h3>
    <%= table(@last_bills) do |t|
          t.link /Account/ => '/reports/register?account=Expenses::this&year=:1'
          t.decorate /Last Paid/ => TextColorDecorator.new('red'), :if => lambda { |c,r| c.value + 25 <= Date.today }
        end
    %>
  </div>
  <div class="span6">
    <h3><a href="/reports/accounts">Current Accounts</a></h3>
    <%= table(@current_accounts) do |t|
          t.link /Account/ => '/reports/register?account=:this&year=:now', :if => lambda{|c,r| c.value != "Total"}
        end
    %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Fund Levels</h3>
    <%= table(@fund_levels) do |t|
          t.link /Account/ => '/reports/register?account=Assets:Funds::0$&include_virtual=on&cleared='
          t.decorate /Balance/ => TextColorDecorator.new('red'), :if => lambda { |c,r| c.value < 0 }
        end
    %>
  </div>
  <div class="span6">
    <h3><a href="/reports/register?account=Assets:Funds:Emergency&include_virtual=on&cleared=">Emergency Fund Longevity</a></h3>
    <%= table(@emergency_fund) do |t|
          t.decorate /(Months|Needed)/ => TextColorDecorator.new('red'), :if => lambda { |c,r| r[3].value > 0.000001 }
          t.link /Trailing 12 Month/ => '/reports/monthly_expenses'
        end %>
    <h3>Goals</h3>
    <%= @goals.error %>
    <%= table(@goals) do |t|
          t.link /^Goal$/ => '/reports/register?account=:this&week=:now'
        end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Uncleared Transactions</h3>
    <%= table @uncleared do |t|
          t.link /Payee/ => '/reports/register?payee=:this&month=:now&cleared='
          t.link /Account/ => '/reports/register?account=:this&month=:now&cleared='
        end %>
  </div>
</div>
