<script type="text/javascript" src="/public/js/canvasjs.min.js"></script>
<% @okapi_weekly = params[:okapi_weekly] || 250 %>
<% @emily_monthly = params[:emily_monthly] || 400 %>
<% @unbudget = params[:unbudget] || 125 %>

<% @fund_balance = query do %>
  select sum(amount) from ledger where account ~ 'Assets:Funds' and account != 'Assets:Funds:Emergency'
<% end %>

<% @burn_down = query do %>
with weeks as (
 select
   x,
   '2014-01-06'::date + (x || ' weeks')::interval as xtn_date
  from
    generate_series(0,104) x
),
assets as (
  select
    xtn_date,
    xtn_week,
    amount
  from
    ledger
  where
    account in ('Assets:Schwab:Checking', 'Assets:Amex')
  order by
    xtn_date,
    amount
)
select
  weeks.xtn_date::date as "Week",
  (select sum(amount) from assets where xtn_date < weeks.xtn_date) as "Starting",
  coalesce((select sum(case when amount > 0 then amount else 0 end) from assets where xtn_date between weeks.xtn_date and weeks.xtn_date + '6 days'::interval), 0) as "Cash In",
  coalesce((select sum(case when amount < 0 then amount else 0 end) from assets where xtn_date between weeks.xtn_date and weeks.xtn_date + '6 days'::interval), 0) as "Cash Out",
  (select sum(amount) from assets where xtn_date <= weeks.xtn_date + '6 days'::interval) as "Ending"
from
  weeks
where
  xtn_date + '1 week'::interval <= date_trunc('week', now()::date) + '1 week'::interval
union all
select
  week,
  coalesce(lag(ending, 1) over (rows unbounded preceding) + (select sum(amount) from assets), (select sum(amount) from assets)) as starting,
  coalesce(cash_in, 0),
  coalesce(cash_out, 0),
  ending + (select sum(amount) from assets)
from (
  select
     week,
     <%= @okapi_weekly %> + case when week_num = 1 then <%= @emily_monthly %> else 0 end as cash_in,
     cash_out,
     sum(cash_out + <%= @okapi_weekly %> + case when week_num = 1 then <%= @emily_monthly %> else 0 end) over (rows unbounded preceding) as ending
  from (
    select
      week,
      week_num,
      -1 * coalesce((select sum(amount) from budget_periods b where b.week = week_num and (x.week between from_date and to_date or (x.week >= from_date and to_date is null))), 0) - <%= @unbudget %> as cash_out
    from (
      select
        week,
        row_number() over (partition by date_trunc('month', week) order by week) as week_num
      from (
        select
          ('2014-01-06'::date + (x || ' weeks')::interval)::date as week
        from
          generate_series(0,104) x
      ) x
    ) x
    where                                    
      week > date_trunc('week', now()::date)
  ) x
) x
<% end %>

<%
  @end_date_row = @burn_down.rows.detect { |r| r[-1].value < 0 } || @burn_down.rows[-1]
  @end_date = @end_date_row[0]
  @week_count = @burn_down.rows.select { |r| r[-1].value > 0 && r[0].value > Date.today }.length
  @month_count = @week_count / 4.0

  @efund_end_date_row = @burn_down.rows.detect { |r| r[-1].value < @fund_balance.rows[0][0].value } || @burn_down.rows[-1]
  @efund_end_date = @efund_end_date_row[0]
  @efund_week_count = @burn_down.rows.select { |r| r[-1].value > @fund_balance.rows[0][0].value && r[0].value > Date.today }.length
  @efund_month_count = @efund_week_count / 4
%>
<div class="page-title">
  <h1>Runway <small><%= @end_date.value %> (<%= @week_count %> weeks, <%= @month_count %> months)</small></h1>
</div>
<div class="row">
  <div class="span12">
    <form class="form form-inline">
      <label for="emily_monthly">Emily Monthly</label>
      <input type="text" id="emily_monthly" name="emily_monthly" value="<%= @emily_monthly %>">
      <label for="okapi_weekly">Okapi Weekly</label>
      <input type="text" id="okapi_weekly" name="okapi_weekly" value="<%= @okapi_weekly %>">
      <label for="unbudget">Unbudget</label>
      <input type="text" id="unbudget" name="unbudget" value="<%= @unbudget %>">
      <input type="submit">
    </form>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>This shows actual cash in and cash out of Schwab and Amex Savings accounts up to and including the current week (highlighted in blue). After the current week, expenses are projected from the budget, plus an extra $<%= @unbudget %> per week unbudget. Assumes a fixed $<%= @okapi_weekly %>/week income from Okapi revenue (which in turn assumes $<%= @okapi_weekly.to_i * 8 %>/mo Okapi gross revenue). Also assumes $<%= @emily_monthly %>/mo from Emily. Weeks highlighted in red have a net negative ending balance.</p>
    <p>Emergency fund expiration (green rows): <strong><%= @efund_end_date.value %> (<%= @efund_week_count %> weeks, <%= @efund_month_count %> months)</strong></p>
  </div>
</div>
<div class="row">
  <div class="span12" style="height: 500px">
    <script type="text/javascript">
      $(function() {
        var chart = new CanvasJS.Chart('chart-container',
        {
          title: {
            text: "Runway",
            fontSize: 30
          },
          axisX:{
            gridColor: "Silver",
            tickColor: "silver",
            valueFormatString: "YYYY/MM/DD"
          }, 
          data: [
            {
              type: 'line',
              showInLegend: true,
              lineThickness: 2,
              name: 'Amount',
              dataPoints: [
              <% @burn_down.rows.each do |row| %>
                <% @date = row[0].value; @val = sprintf("%0.2f", row[-1].value) %>
                { x: new Date(<%= @date.year %>,<%= @date.month - 1%>,<%= @date.day %>), y: <%= @val%> },
              <% end %>
              ]
            },
            {
              type: 'line',
              showInLegend: false,
              lineThickness: 2,
              color: 'green',
              dataPoints: [
                <% @date = @efund_end_date.value %>
                <% @min = @burn_down.rows.min_by { |r| r[-1].value }[-1].value ; @max = @burn_down.rows.max_by { |r| r[-1].value }[-1].value; %>
                { x: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>), y: <%= @min %> },
                { x: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>), y: <%= @max %> }
              ],
            },
            {
              type: 'line',
              showInLegend: false,
              lineThickness: 2,
              color: 'blue',
              dataPoints: [
                <% @date = Date.today %>
                <% @min = @burn_down.rows.min_by { |r| r[-1].value }[-1].value ; @max = @burn_down.rows.max_by { |r| r[-1].value }[-1].value; %>
                { x: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>), y: <%= @min %> },
                { x: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>), y: <%= @max %> }
              ],
            },
            {
              type: 'line',
              showInLegend: false,
              lineThickness: 2,
              color: 'red',
              dataPoints: [
                <% @date = @end_date.value %>
                <% @min = @burn_down.rows.min_by { |r| r[-1].value }[-1].value ; @max = @burn_down.rows.max_by { |r| r[-1].value }[-1].value; %>
                { x: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>), y: <%= @min %> },
                { x: new Date(<%= @date.year %>, <%= @date.month - 1 %>, <%= @date.day %>), y: <%= @max %> }
              ],
            }
          ]
        });
        chart.render();
      });
    </script>
    <div id="chart-container" style="height: 400px: width: 100%"></div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= @burn_down.error %>
    <%= table @burn_down do |t|
      today = Date.today
      t.decorate /.*/ => StyleDecorator.new('background-color' => 'lightblue'), :if => ->(c,r){today = Date.today; start = r[0].value; endt = r[0].value + 7; today >= start && today < endt }
      t.decorate /.*/ => StyleDecorator.new('background-color' => '#ccffcc'), :if => ->(c,r){r[-1].value <= @fund_balance.rows[0][0].value}
      t.decorate /.*/ => StyleDecorator.new('background-color' => '#ffcccc'), :if => ->(c,r){r[-1].value <= 0}
      t.link /Week/ => '/reports/register?week=:this&account=Assets:Schwab:Checking|Assets:amex'
    end %>
  </div>
</div>

<style type="text/css">
@media print {
  a[href]:after{content:"";}
  input { display: none !important }
  select { display: none !important }
}
</style>
