<% @years = query do %>
  select xtn_year from ledger where account = 'Income:Sales' group by xtn_year order by xtn_year desc
<% end %>
<% @total_sales = query do %>
  select
    -1 * gross as "Gross",
    -1 * allowance as "Allowance",
    -1 * (gross - allowance) as "Income"
  from (
    select
      sum(amount) as gross,
      sum(case when tags ~ 'bugsplat.info' or tags !~ 'Refunded: false' then amount else 0 end) as allowance
    from
      ledger
    where
      account = 'Income:Sales'
      and <%= params[:year].to_s == "" ? '1 = 1' : "xtn_year = date_trunc('year', cast(:year as date))" %>
  ) x
  ;
<% end %>

<% @sales_by_month = query do %>
  select
    xtn_month as "Month",
    -1 * sum(amount) as "Sales",
    sum(case when tags !~ 'Refunded: false' then amount else 0 end) as "Refunds",
    count(1) as "Count"
  from
    ledger
  where
    account = 'Income:Sales'
    and <%= params[:year].to_s == "" ? '1 = 1' : "xtn_year = date_trunc('year', cast(:year as date))" %>
  group by
    xtn_month
  order by
    xtn_month
<% end %>

<% @sales_by_week = query do %>
  select
    date_trunc('week', xtn_date)::date as "Week",
    -1 * sum(amount) as "Sales",
    sum(case when tags !~ 'Refunded: false' then amount else 0 end) as "Refunds",
    count(1) as "Count"
  from
    ledger
  where
    account = 'Income:Sales'
    and <%= params[:year].to_s == "" ? '1 = 1' : "xtn_year = date_trunc('year', cast(:year as date))" %>
  group by
    date_trunc('week', xtn_date)::date
  order by
    date_trunc('week', xtn_date)::date
<% end %>

<% @sales_by_product = query do %>
  select
    note as "Product",
    count(1) as "Count",
    -1 * sum(amount) as "Amount",
    sum(case when tags !~ 'Refunded: false' then amount else 0 end) as "Refunds"
  from
    ledger
  where
    account = 'Income:Sales'
    and <%= params[:year].to_s == "" ? '1 = 1' : "xtn_year = date_trunc('year', cast(:year as date))" %>
  group by
    note
  order by
    note
<% end %>

<% @expenses = query do %>
  with sales_expenses as (
    select
      replace(account, 'Expenses:Sales:', '') as "Expense",
      sum(amount) as "Amount"
    from
      ledger
    where
      account ~ '^Expenses:Sales'
      and <%= params[:year].to_s == "" ? '1 = 1' : "xtn_year = date_trunc('year', cast(:year as date))" %>
    group by
      account
    order by
      account
  )
  select
    *
  from
    sales_expenses
  union all
  select
    'Total' as "Expense",
    sum("Amount") as "Amount"
  from
    sales_expenses
<% end %>

<div class="page-header">
  <%= @total_sales.error %>
  <h1>
    Sales
    <small><%= sprintf("$%0.2f", @total_sales.rows[0][2].value.to_f) %> (<%= sprintf("$%0.2f", @total_sales.rows[0][0].value.to_f) %> gross, <%= sprintf("$%0.2f", @total_sales.rows[0][1].value.to_f) %> allowance)</small>
  </h1>
</div>
<div class="row">
  <div class="span12">
    <form class="form form-inline">    
      <select name="year" class="input-small">
        <% @selected_year = params[:year].to_s == "" ? nil : Date.parse(params[:year]).year %>
        <option value="">All Years</option>
        <% @years.each do |row| %>
          <option value="<%= row[0].value %>" <%= (@selected_year == row[0].value.year) ? "selected" : "" %>><%= row[0].value.year %></option>
        <% end %>
      </select>
      <input type="submit" value="Update" class="btn">
    </form>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>By Month</h3>
    <%= @sales_by_month.error %>
    <%= table @sales_by_month %>
    <h3>By Product</h3>
    <%= @sales_by_product.error %>
    <%= table @sales_by_product %>
    <h3>Expenses</h3>
    <%= @expenses.error %>
    <%= table @expenses do |t|
          t.link /Expense/ => "/reports/register?account=Expenses:Sales::this&year=#{params[:year]}", if: ->(c,r) { c.value != 'Total' }
        end  %>
  </div>
  <div class="span6">
    <h3>By Week</h3>
    <%= @sales_by_week.error %>
    <%= table @sales_by_week %>
  </div>
</div>
