<% @years = query do %>
  select
    xtn_year
  from
    accounts_years
  group by
    xtn_year
  order by
    xtn_year desc
<% end %>

<%

@selected_year = params[:year].to_s == "" ? Date.new(Date.today.year, 1, 1) : Date.parse(params[:year])

Dir.chdir(File.dirname(ENV['LEDGER_FILE'])) do
  @files = Dir.glob(File.join('years', @selected_year.year.to_s, 'statements', '*')).sort
end
%>

<div class="page-title">
  <h1>Statements for <%= @selected_year.year %></h1>
</div>
<div class="row">
  <div class="span12">
    <form class="form form-inline">    
      <select name="year" class="input">
        <option value="">Current Year</option>
        <% @years.each do |row| %>
          <option value="<%= row[0].value %>" <%= (@selected_year == row[0].value) ? "selected" : "" %>><%= row[0].value %></option>
        <% end %>
      </select>
      <input type="submit" value="Update" class="btn">
    </form>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-condensed table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Filename</th>
        </tr>
      </thead>
      <tbody>
        <% @files.each do |file| %>
          <tr>
            <td>
              <a href="/files/<%= file %>"><%= File.basename(file, '.*') %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

